body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.5;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav {
    background-color: #4CAF50;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    width: 100px;
    text-align: center;
}

nav ul li a {
    display: block;
    color: #FF0000;
    text-decoration: none;
    padding: 14px 16px;
}

nav ul li a:hover {
    background-color: #388E3C;
}

main {
    background-color: #f0f0f0;
    font-size: 18px;
    padding: 20px;
    min-height: 400px;
}

main h2{
    text-align: center;
    margin-bottom: 20px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 20px;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255); /* Đổi màu chữ h1 thành màu trắng */
    background-color: #00008b; /*Thêm màu nền cho h1*/
}

p {
    line-height: 1.5;
}

img{
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}
